.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem 0 3rem;
  position: relative;
  /* z-index: 10; */
}

ul {
  display: flex;
}

ul li {
  padding-left: 2rem;
  list-style-type: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.logo {
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-open {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  /* z-index: 10; */
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }
  ul {
    display: none;
  }
}
