.featured-section{
    padding: 2rem;
}

.featured-title{
    font-weight: 700;
    font-size: 3rem;
}

.section-container{
    position: relative;
    margin-left: 3.5rem;
    margin-top: 8rem;
}

.section-container .container {
    max-width: 1360px;
    padding-left: 15px;
    padding-right: 15px;
}

.section-container .container .figure {
    height: 500px;
    width: 60vw;
    /* background: red; */
}

.section-container:nth-child(odd) .container .figure {
    transform: translate(-1%, -35%);
}

.section-container:nth-child(even) .container .figure {
    transform: translate(40%, -35%);
}



.section-container .container .figure .title {
    font-size: 100px;
    font-weight: 800;
    line-height: 100px;
    position: absolute;
    color: #EFFFFD;
    bottom: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 9;
    transform: translate(5%, 90%);
}

.section-container .container .figure .label {
    position: absolute;
    top: 2%;
    left: -6%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: right;
    color: #000;
}

.section-container .container .figure .label .serial {
    font-weight: 700;
}

.mobile-container{
    display: none;
}


@media screen and (max-width: 890px) {
    .featured-section{
        padding: 1rem 1rem 3rem 1rem;
    }
    .section-container{  
        margin-left: 0;
        margin-top: 4rem;
    }
    .section-container .container{
        display: none;
    }
    .mobile-container{
        display: flex;
    }
    .mobile-figure{
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    .mobile-figure .img-placeholder{
        height: 300px;
        width: 85vw;
    }
    .mobile-figure .img-placeholder img{
        height: 100%;
        width: 100%;
    }
    .mobile-container .mobile-figure .title {
        font-size: 40px;
        font-weight: 800;
        line-height: 100px;
        color: #EFFFFD;
        mix-blend-mode: difference;
        margin-top: 2%;
    }
    .mobile-container .mobile-figure .label {
        position: absolute;
        top: 2%;
        left: -2%;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        text-align: right;
    }    
  }