@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #04293A;
  transition: all 600ms ease-in-out;
}

body::-webkit-scrollbar{
  display: none;
}

.body-active{
  background: #000;
}