@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  /* background: #f6eee3; */
  background: #04293A;
}

body::-webkit-scrollbar{
  display: none;
}